In [1]:
# import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
# read csv file
dataset = pd.read_csv('hiring.csv')
dataset.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [3]:
dataset.shape

(8, 4)

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
experience         6 non-null object
test_score         7 non-null float64
interview_score    8 non-null int64
salary             8 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [5]:
dataset['experience'].fillna(0, inplace=True)

In [6]:
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
experience         8 non-null object
test_score         8 non-null float64
interview_score    8 non-null int64
salary             8 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [8]:
dataset['experience'].value_counts()

0         2
two       1
five      1
eleven    1
ten       1
seven     1
three     1
Name: experience, dtype: int64

In [9]:
dataset.isnull().sum()

experience         0
test_score         0
interview_score    0
salary             0
dtype: int64

In [10]:
X = dataset.iloc[:,:3]
y = dataset.iloc[:, -1]

In [11]:
# conver integer to number
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [12]:
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [13]:
X.shape, y.shape

((8, 3), (8,))

In [14]:
# create model

In [15]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [16]:
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
print(regressor.predict([[2, 9, 6]]))

[53290.89255945]

In [19]:
# Dump the model by pickle
pickle.dump(regressor, open('model.pkl','wb'))